In [6]:
mydata <-read.table("MWT.txt", header = T, sep = ",")

In [7]:
summary(mydata)

     mouse         day            lat             group
 Min.   : 1   Min.   :0.00   Min.   : 5.975   Min.   :1.000
 1st Qu.: 6   1st Qu.:1.75   1st Qu.:13.994   1st Qu.:1.000
 Median :12   Median :3.50   Median :21.225   Median :2.000
 Mean   :12   Mean   :3.50   Mean   :25.474   Mean   :1.522
 3rd Qu.:18   3rd Qu.:5.25   3rd Qu.:35.581   3rd Qu.:2.000
 Max.   :23   Max.   :7.00   Max.   :60.000   Max.   :2.000

In [8]:
library(nlme)

In [9]:
mydata$group <-as.factor(mydata$group)