In [2]:
mydata <-read.table("MWT.txt", header = T, sep = ",")

In [3]:
summary(mydata)

    subject        day          latency           group
 Min.   : 1   Min.   :0.00   Min.   : 5.975   Min.   :1.000
 1st Qu.: 6   1st Qu.:1.75   1st Qu.:13.994   1st Qu.:1.000
 Median :12   Median :3.50   Median :21.225   Median :2.000
 Mean   :12   Mean   :3.50   Mean   :25.474   Mean   :1.522
 3rd Qu.:18   3rd Qu.:5.25   3rd Qu.:35.581   3rd Qu.:2.000
 Max.   :23   Max.   :7.00   Max.   :60.000   Max.   :2.000

In [4]:
library(nlme)

In [5]:
mydata$group <-as.factor(mydata$group)

In [6]:
mydatag <-groupedData(latency ~ day | subject, data = mydata)

In [13]:
str(mydatag)

Classes 'nfnGroupedData', 'nfGroupedData', 'groupedData' and 'data.frame':	184 obs. of  4 variables:
 $ subject: Ord.factor w/ 23 levels "7"<"15"<"11"<..: 5 5 5 5 5 5 5 5 19 19 ...
 $ day    : int  0 1 2 3 4 5 6 7 0 1 ...
 $ latency: num  43.3 25.5 16.7 46.7 39.3 ...
 $ group  : Factor w/ 2 levels "1","2": 1 1 1 1 1 1 1 1 1 1 ...
 - attr(*, "formula")=Class 'formula'  language latency ~ day | subject
  .. ..- attr(*, ".Environment")=<environment: R_GlobalEnv>
 - attr(*, "FUN")=function (x)
 - attr(*, "order.groups")= logi TRUE

In [8]:
myresult <-nlme(latency ~ A * 2.718^(B * day), fixed = A + B ~ group, random = pdDiag(A + B ~ 1), data = mydatag, start = c(A = 60, B = 0.1, rep(0, 2 * 2-2)))

In [17]:
anova(myresult)

              numDF denDF F-value     p-value
A.(Intercept) 1     158   731.0762843 0.000000000
A.group       1     158     7.9291545 0.005484688
B.(Intercept) 1     158   161.6395830 0.000000000
B.group       1     158     0.3546792 0.552328301

In [18]:
anova(myresult, type = "marginal")

              numDF denDF F-value     p-value
A.(Intercept) 1     158   331.3661497 0.000000e+00
A.group       1     158     5.9092265 1.618070e-02
B.(Intercept) 1     158    69.8949005 3.064216e-14
B.group       1     158     0.3546792 5.523283e-01